@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

a.active{
  border-color:oklch(76.9% 0.188 70.08);
  color: black;
}

*{
    font-family: Outfit;
}